<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.name}}'s watchlist</title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h2>
        <img alt="cat" class="cat" src="{{url_for('static', filename='/images/cat.png')}}">
        {{user.name}}'s watchlist</h2>
    <p>{{movie|length}} Titles</p>
    <ul class="movie-list">
        {% for m in movie %}
        <li>{{m.title}} - {{m.year}}</li>
        {% endfor %}
    </ul>
    <img alt="totoro" class="totoro" src="{{url_for('static', filename='/images/totoro.png')}}">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a></small>
    </footer>
</body>
</html>